<%= form_with(model: [:admin, banner], local: true) do |form| %>
  <% if banner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(banner.errors.count, "error") %> prohibited this banner from being saved:</h2>

      <ul>
      <% banner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image_url, '图片' %>
    <%= form.text_field :image_url, class: 'banner-url' %>
  </div>

  <div class="field">
    <%= form.label :address, "链接" %>
    <%= form.text_field :address, class: 'banner-url' %>
  </div>

  <div class="field">
    <%= form.label :start_at, '上架时间' %>
    <%= form.datetime_select :start_at, default: Time.zone.now %>
  </div>

  <div class="field">
    <%= form.label :end_at, '下架时间' %>
    <%= form.datetime_select :end_at %>
  </div>

  <div class="field">
    <%= form.label :ios_version, 'iOS 版本' %>
    <%= form.text_field :ios_version %>
  </div>

  <div class="field">
    <%= form.label :android_version, 'Android 版本' %>
    <%= form.text_field :android_version %>
  </div>

  <div class="actions">
    <%= form.submit '提交' %>
  </div>
<% end %>
