<p id="notice"><%= notice %></p>

<h1>Banners</h1>

<table>
  <thead>
    <tr>
      <th>Image url</th>
      <th>Address</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Ios version</th>
      <th>Android version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banners.each do |banner| %>
      <tr>
        <td><%= link_to banner.image_url, banner.image_url, target: '_blank' %></td>
        <td><%= link_to banner.address, banner.address, target: '_blank' %></td>
        <td><%= banner.start_at %></td>
        <td><%= banner.end_at %></td>
        <td><%= banner.ios_version %></td>
        <td><%= banner.android_version %></td>
        <td><%= link_to 'Show', admin_banner_path(banner) %></td>
        <td><%= link_to 'Edit', edit_admin_banner_path(banner) %></td>
        <td><%= link_to 'Destroy', admin_banner_path(banner), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banner', new_admin_banner_path %>
