<p id="notice"><%= notice %></p>

<p>
  <strong>图片:</strong>
  <%= link_to_if_exist @banner.image_url %>
</p>

<p>
  <strong>链接:</strong>
  <%= link_to_if_exist @banner.address %>
</p>

<p>
  <strong>上架时间:</strong>
  <%= @banner.start_at %>
</p>

<p>
  <strong>下架时间:</strong>
  <%= @banner.end_at %>
</p>

<p>
  <strong>iOS 版本:</strong>
  <%= @banner.ios_version %>
</p>

<p>
  <strong>Android 版本:</strong>
  <%= @banner.android_version %>
</p>

<%= link_to 'Edit', edit_admin_banner_path(@banner) %> |
<%= link_to 'Back', admin_banners_path %>
