<p id="notice"><%= notice %></p>

<h1>Dapps</h1>

<table>
  <thead>
    <tr>
      <th>名称</th>
      <th>分数</th>
      <th>开发者</th>
      <th>一句话描述</th>
      <th>简介</th>
      <th>iOS version</th>
      <th>Android version</th>
      <th>上架时间</th>
      <th>下架时间</th>
      <th>发布时间</th>
      <th>icon url</th>
      <th>Marketing url</th>
      <th>DApp 地址</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dapps.each do |dapp| %>
      <tr>
        <td><%= dapp.name %></td>
        <td><%= dapp.score %></td>
        <td><%= dapp.developer %></td>
        <td><%= dapp.desc %></td>
        <td><%= dapp.intro %></td>
        <td><%= dapp.ios_version %></td>
        <td><%= dapp.android_version %></td>
        <td><%= dapp.start_at %></td>
        <td><%= dapp.end_at %></td>
        <td><%= dapp.publish_at %></td>
        <td><%= link_to_if_exist(dapp.logo_url) %></td>
        <td><%= link_to_if_exist(dapp.marketing_url) %></td>
        <td><%= link_to_if_exist(dapp.url_address) %></td>
        <td><%= link_to 'Show', admin_dapp_path(dapp) %></td>
        <td><%= link_to 'Edit', edit_admin_dapp_path(dapp) %></td>
        <td><%= link_to 'Destroy', admin_dapp_path(dapp), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dapp', new_admin_dapp_path %>
