<p id="notice"><%= notice %></p>

<p>
  <strong>名称:</strong>
  <%= @image.name %>
</p>

<p>
  <strong>图片:</strong>
  <%= image_tag photo_path(@image) %>
</p>

<p>
  <strong>URL:</strong>
  <%= link_to_if_exist real_url(@image) %>
</p>

<%= link_to 'Edit', edit_admin_image_path(@image) %> |
<%= link_to 'Back', admin_images_path %>
