<% @page_title = @dapp.name_or_default %>

<div id='id-store' class='storeinfo'
  data-category=<%= @dapp.dapp_type.name_or_default %>
  data-name=<%= @dapp.name_or_default %>
  ></div>

<div id='id-page-info' class='dappsContainer'>
  <div id='id-container-main'>
    <img class="mainimg" src=<%= @dapp.logo_url %> alt="mainimg">
    <div class="title"><%= @dapp.name_or_default %></div>
    <a class="link" href=<%= @dapp.marketing_url %>><%= @dapp.url_address %></a>
    <div id='id-div-stars'>
      <% @star.times do |i| %>
        <%= image_tag asset_pack_path('src/imgs/icon/star.svg'), class: 'dappsListImg', alt: 'Logo' %>
      <% end %>

      <% @stargray.times do |i| %>
        <%= image_tag asset_pack_path('src/imgs/icon/stargray.svg'), class: 'dappsListImg', alt: 'Logo' %>
      <% end %>
    </div>
  </div>

  <div id='id-container-intro'>
    <div class="title"><%= t("overview") %></div>
    <div class="intro">
      <%= @dapp.intro_or_default %>
    </div>
    <div class="time">
      <%= t("submitted_at") %>: <%= @dapp.publish_at&.strftime("%Y-%m-%d") %>
    </div>
    <div class="author">
      <%= t("developer") %>: <%= @dapp.developer %>
    </div>
  </div>

  <div id="id-container-other">
    <a class="goto" href=<%= @dapp.url_address %>><%= t("visit") %></a>
    <div class="warning"><%= t("not_neuron") %></div>
  </div>
</div>
